*{
    margin: 0;
    padding : 0;
    box-sizing : border-box;
}

html{
    font-family : 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    min-height : 100vh;
}

header, #main, footer{
    width: 95%;
    margin: 0 auto;
}
header{
    
    margin-top: 2vh;
    display : flex;
}

#logo{
    font-size: 1.4rem;
    font-weight : bold;
}

a{
    text-decoration: none;
    color: rgb(63, 61, 61);
}

nav{
    margin-left: 15%;
    width: 30%;
}
nav ul{
    display : flex;
    justify-content: space-between;
    list-style : none;
}

#main{
    min-height: 81vh;
    padding: 3vh 4vh;
}

hr{
    margin: 2vh 0;
}

.hamMenu{
    display: none;
}

@media (max-width: 750px){
    .hamMenu{
        display: block;
        margin-left: 70%;
    }
    .hamMenu:hover{

    }
    nav{
        display: none;
    }
}


